@media (max-width: 320px) {

    /*TOPO*/
    .topo {
        justify-content: center;
        padding: 0;
        height: 2.5rem;
        z-index: 2;

    }

    .frase1 {
        display: none;
    }

    /* HEADER */
    #header-menu {
        top: 2.4rem;
        padding: 0 1rem;
        height: 3.5rem;
    }

    /*LOGO*/
    .logo img {
        width: 5rem;
        height: auto;
    }


    /* MENU DE TELA DE DESKTOP */
    .menu-desktop {
        display: none;
    }

    /*BOTÃO MENU MOBILE*/
    .mobile-menu-button {
        display: block;
        z-index: 1111;
        position: absolute;
        left: 16rem;
        font-size: 2rem;
        color: var(--color2-orange);
    }

    /*MENU MOBILE*/
    .menu-mobile {
        display: block;
    }


    /*BANNERS*/
    #banner-animation img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #banner-animation h2 {
        top: 40%;
        font-size: 2rem;
        padding: 0 1.8rem;
        text-align: center;
    }

    #banner-animation .subtitle {
        font-size: 1.2rem;
        top: 75%;
        width: 100%;
        padding: 0 0.8rem;
    }

    /* BOTOES DE NAVEGAÇÃO */
    #prev,
    #next {
        display: none;
    }


    /* CONTAINER */
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*SECTION INSTALLATION*/
    #installation {
        flex-direction: column-reverse;
        padding: 0 0.3rem;
    }

    .section-installation {
        width: 100%;
        margin-right: 0;
    }

    .banner-installation img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-installation h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-installation h2 {
        font-size: 1rem;
        width: 100%;
        text-align: center;
        margin-bottom: -10rem;
    }

    /*SECTION ACCORDION INSTALLATION*/
    #accordion-installation {
        padding: 2rem 0.8rem;
    }

    #accordion-installation h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }


    /*SECTION MAINTENANCE*/
    #maintenance {
        flex-direction: column;
        padding: 2rem 0.8rem;
    }

    .section-maintenance {
        width: 100%;
        margin-right: 0;
    }

    .banner-maintenance img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-maintenance h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-maintenance h2 {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    /*SECTION ACCORDION MAINTENANCE*/
    #accordion-maintenance {
        padding: 2rem 0.8rem;
    }

    #accordion-maintenance h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION MAINTENANCE CONTRACT*/
    #maintenance-contract {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 10rem;
    }

    .section-maintenance-contract {
        width: 100%;
        margin-right: 0;
    }

    .section-maintenance-contract h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .pcontract {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .section-maintenance-contract h2 {
        flex-direction: column;
        padding: 0 0.8rem;

    }

    /*SECTION ACCORDION MAINTENANCE CONTRACT*/
    #accordion-maintenance-contract {
        padding: 2rem 0.8rem;

    }

    #accordion-maintenance-contract h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .pcontract {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .accordion-container {
        margin-bottom: -10rem;

    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION HYGIENE*/
    #hygiene {
        flex-direction: column;
        padding: 2rem 0.8rem;
        margin-top: 10rem;
        height: 145vh;
    }

    .section-hygiene {
        width: 100%;
        margin-right: 0;
    }


    .section-hygiene h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-hygiene h2 {
        flex-direction: column;
        padding: 0 0.8rem;
    }


    /*SECTION ACCORDION HYGIENE*/
    #accordion-hygiene {
        padding: 2rem 0.8rem;
    }

    #accordion-hygiene h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .pcontract {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }



    /*SECTION INFRASTRUCTURE*/
    #infrastructure {
        flex-direction: column;
        padding: 2rem 0.8rem;
        margin-top: 6rem;
    }

    .section-infrastructure {
        width: 100%;
        margin-right: 0;
    }


    .section-infrastructure h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-infrastructure h2 {
        flex-direction: column;
        padding: 0 0.8rem;
    }


    /* SEÇÃO WHATSAPP */
    .message-box {
        margin: 0 0.8rem;

    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }

    .footer-section img {
        width: 50%;
        margin: 1rem 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .footer-section {
        width: 100%;
        padding: 1rem 0.8rem;
    }

    .copyright {
        width: 100%;
        padding: 1rem 0.8rem;
        font-size: 0.8rem;
        text-align: center;
    }
}

@media (min-width: 321px) and (max-width: 480px) {

    /*TOPO*/
    .topo {
        justify-content: center;
        padding: 0;
        height: 2.5rem;
        z-index: 2;

    }

    .frase1 {
        display: none;
    }

    /* HEADER */
    #header-menu {
        top: 2.4rem;
        padding: 0 1rem;
        height: 3.5rem;
    }


    /*LOGO*/
    .logo img {
        width: 5rem;
        height: auto;
    }


    /* MENU DE TELA DE DESKTOP */
    .menu-desktop {
        display: none;
    }

    /*BOTÃO MENU MOBILE*/
    .mobile-menu-button {
        display: block;
        z-index: 1111;
        position: absolute;
        right: 1rem;
        font-size: 2rem;
        color: var(--color2-orange);
    }

    /*MENU MOBILE*/
    .menu-mobile {
        display: block;
    }


    /*BANNERS*/
    #banner-animation img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #banner-animation h2 {
        top: 40%;
        font-size: 2rem;
        padding: 0 1.8rem;
        text-align: center;
    }

    #banner-animation .subtitle {
        font-size: 1.2rem;
        top: 75%;
        width: 100%;
        padding: 0 0.8rem;
    }

    /* BOTOES DE NAVEGAÇÃO */
    #prev,
    #next {
        display: none;
    }


    /* CONTAINER */
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*SECTION INSTALLATION*/
    #installation {
        flex-direction: column-reverse;
        padding: 0 0.3rem;
    }

    .section-installation {
        width: 100%;
        margin-right: 0;
    }

    .banner-installation img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-installation h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-installation h2 {
        width: 100%;
        text-align: left;
        margin-bottom: -10rem;
    }

    /*SECTION ACCORDION INSTALLATION*/
    #accordion-installation {
        padding: 2rem 0.8rem;
    }

    #accordion-installation h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }


    /*SECTION MAINTENANCE*/
    #maintenance {
        flex-direction: column;
        padding: 2rem 0.8rem;
    }

    .section-maintenance {
        width: 100%;
        margin-right: 0;
    }

    .banner-maintenance img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-maintenance h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-maintenance h2 {
        width: 100%;
        text-align: left;
    }

    /*SECTION ACCORDION MAINTENANCE*/
    #accordion-maintenance {
        padding: 2rem 0.8rem;
    }

    #accordion-maintenance h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION MAINTENANCE CONTRACT*/
    #maintenance-contract {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 10rem;
    }

    .section-maintenance-contract {
        width: 100%;
        margin-right: 0;
    }

    .section-maintenance-contract h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .pcontract {
        font-size: 1rem;
        width: 100%;

    }

    .section-maintenance-contract h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: left;

    }

    /*SECTION ACCORDION MAINTENANCE CONTRACT*/
    #accordion-maintenance-contract {
        padding: 2rem 0.8rem;

    }

    #accordion-maintenance-contract h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .pcontract {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .accordion-container {
        margin-bottom: -10rem;

    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION HYGIENE*/
    #hygiene {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 10rem;
    }

    .section-hygiene {
        width: 100%;
        margin-right: 0;
    }


    .section-hygiene h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-hygiene h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: left;
    }



    /*SECTION ACCORDION HYGIENE*/
    #accordion-hygiene {
        padding: 2rem 0.8rem;
        margin: 7rem 0 20rem 0;

    }

    #accordion-hygiene h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .pcontract {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }



    /*SECTION INFRASTRUCTURE*/
    #infrastructure {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 0.1rem;
    }

    .section-infrastructure {
        width: 100%;
        margin-right: 0;
    }


    .section-infrastructure h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-infrastructure h2 {
        flex-direction: column;
        padding: 0 0.8rem;
    }


    /* SEÇÃO WHATSAPP */
    .message-box {
        margin: 0 0.8rem;

    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }

    .footer-section img {
        width: 50%;
        margin: 1rem 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .footer-section {
        width: 100%;
        padding: 1rem 0.8rem;
    }

    .copyright {
        width: 100%;
        padding: 1rem 0.8rem;
        font-size: 0.8rem;
        text-align: center;
    }
}

/*TABLETS MENORES */
@media (min-width: 481px) and (max-width: 768px) {

    /*TOPO*/
    .topo {
        justify-content: center;
        padding: 0;
        height: 2.5rem;
        z-index: 2;

    }

    .frase1 {
        display: none;
    }

    /* HEADER */
    #header-menu {
        top: 2.4rem;
        padding: 0 1rem;
        height: 3.5rem;
    }

    /*LOGO*/
    .logo img {
        width: 7rem;
        height: auto;
    }


    /* MENU DE TELA DE DESKTOP */
    .menu-desktop {
        display: none;
    }

    /*BOTÃO MENU MOBILE*/
    .mobile-menu-button {
        display: block;
        z-index: 1111;
        position: absolute;
        right: 1rem;
        font-size: 2.5rem;
        color: var(--color2-orange);
    }

    /*MENU MOBILE*/
    .menu-mobile {
        display: block;
    }


    /*BANNERS*/
    #banner-animation img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #banner-animation h2 {
        top: 40%;
        font-size: 2.5rem;
        padding: 0 1.8rem;
        text-align: center;
    }

    #banner-animation .subtitle {
        font-size: 1.5rem;
        top: 75%;
        width: 100%;
        padding: 0 0.8rem;
    }

    /* BOTOES DE NAVEGAÇÃO */
    #prev,
    #next {
        display: none;
    }


    /* CONTAINER */
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*SECTION INSTALLATION*/
    #installation {
        flex-direction: column-reverse;
        padding: 0 0.3rem;
    }

    .section-installation {
        width: 100%;
        margin-right: 0;
    }

    .banner-installation img {
        width: 60%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-installation h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-installation h2 {
        width: 100%;
        text-align: center;
        font-size: 1.50rem;
        margin-bottom: -10rem;
    }

    /*SECTION ACCORDION INSTALLATION*/
    #accordion-installation {
        padding: 2rem 0.8rem;
    }

    #accordion-installation h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }


    /*SECTION MAINTENANCE*/
    #maintenance {
        flex-direction: column;
        padding: 2rem 0.8rem;
    }

    .section-maintenance {
        width: 100%;
        margin-right: 0;
    }

    .banner-maintenance img {
        width: 60%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-maintenance h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-maintenance h2 {
        width: 100%;
        text-align: center;
        font-size: 1.50rem;
    }

    /*SECTION ACCORDION MAINTENANCE*/
    #accordion-maintenance {
        padding: 2rem 0.8rem;
    }

    #accordion-maintenance h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION MAINTENANCE CONTRACT*/
    #maintenance-contract {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 10rem;
    }

    .section-maintenance-contract {
        width: 100%;
        margin-right: 0;
    }

    .section-maintenance-contract h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .pcontract {
        font-size: 1.50rem;
        width: 100%;

    }

    .section-maintenance-contract h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: center;
        font-size: 1.50rem;

    }

    /*SECTION ACCORDION MAINTENANCE CONTRACT*/
    #accordion-maintenance-contract {
        padding: 2rem 0.8rem;

    }

    #accordion-maintenance-contract h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .pcontract {
        font-size: 1.50rem;
        width: 100%;
        text-align: center;
    }

    .accordion-container {
        margin-bottom: -10rem;

    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION HYGIENE*/
    #hygiene {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 10rem;
    }

    .section-hygiene {
        width: 100%;
        margin-right: 0;
    }


    .section-hygiene h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-hygiene h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: center;
        font-size: 1.50rem;
    }



    /*SECTION ACCORDION HYGIENE*/
    #accordion-hygiene {
        padding: 2rem 0.8rem;
        margin: 7rem 0 20rem 0;

    }

    #accordion-hygiene h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .pcontract {
        font-size: 1.50rem;
        width: 100%;
        text-align: center;
    }



    /*SECTION INFRASTRUCTURE*/
    #infrastructure {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 0.1rem;
    }

    .section-infrastructure {
        width: 100%;
        margin-right: 0;
    }


    .section-infrastructure h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-infrastructure h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: center;
        font-size: 1.50rem;
    }


    /* SEÇÃO WHATSAPP */
    .message-box {
        margin: 0 0.8rem;

    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }

    .footer-section img {
        width: 30%;
        margin: 1rem 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .footer-section {
        width: 100%;
        padding: 1rem 0.8rem;
    }

    .copyright {
        width: 100%;
        padding: 1rem 0.8rem;
        font-size: 0.8rem;
        text-align: center;
    }
}



/*TABLETS MAIORES */
@media (min-width: 769px) and (max-width: 884px) {

    /*TOPO DO SITE*/
    .topo {
        justify-content: space-between;
        padding: 0 1rem 0 0rem;
        height: 2.5rem;
        z-index: 2;
    }


    /* HEADER */
    #header-menu {
        top: 2.4rem;
        padding: 0 1rem;
        height: 4rem;
    }



    /*LOGO*/
    .logo img {
        width: 7rem;
        height: auto;
    }


    /* MENU DE TELA DE DESKTOP */
    .menu-desktop {
        display: none;
    }

    /*BOTÃO MENU MOBILE*/
    .mobile-menu-button {
        display: block;
        z-index: 1111;
        position: absolute;
        right: 1rem;
        font-size: 2.5rem;
        color: var(--color2-orange);
    }

    /*MENU MOBILE*/
    .menu-mobile {
        display: block;
    }


    /*BANNERS*/
    #banner-animation img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #banner-animation h2 {
        top: 40%;
        font-size: 2.5rem;
        padding: 0 1.8rem;
        text-align: center;
    }

    #banner-animation .subtitle {
        font-size: 1.5rem;
        top: 75%;
        width: 100%;
        padding: 0 0.8rem;
    }

    /* BOTOES DE NAVEGAÇÃO */
    #prev,
    #next {
        display: none;
    }


    /* CONTAINER */
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*SECTION INSTALLATION*/
    #installation {
        flex-direction: column-reverse;
        padding: 0 0.3rem;
    }

    .section-installation {
        width: 100%;
        margin-right: 0;
    }

    .banner-installation img {
        width: 60%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-installation h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-installation h2 {
        width: 100%;
        text-align: center;
        font-size: 1.50rem;
        margin-bottom: -10rem;
    }

    /*SECTION ACCORDION INSTALLATION*/
    #accordion-installation {
        padding: 2rem 0.8rem;
    }

    #accordion-installation h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }


    /*SECTION MAINTENANCE*/
    #maintenance {
        flex-direction: column;
        padding: 2rem 0.8rem;
    }

    .section-maintenance {
        width: 100%;
        margin-right: 0;
    }

    .banner-maintenance img {
        width: 60%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-maintenance h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-maintenance h2 {
        width: 100%;
        text-align: center;
        font-size: 1.50rem;
    }

    /*SECTION ACCORDION MAINTENANCE*/
    #accordion-maintenance {
        padding: 2rem 0.8rem;
    }

    #accordion-maintenance h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION MAINTENANCE CONTRACT*/
    #maintenance-contract {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 10rem;
    }

    .section-maintenance-contract {
        width: 100%;
        margin-right: 0;
    }

    .section-maintenance-contract h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .pcontract {
        font-size: 1.50rem;
        width: 100%;

    }

    .section-maintenance-contract h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: center;
        font-size: 1.50rem;

    }

    /*SECTION ACCORDION MAINTENANCE CONTRACT*/
    #accordion-maintenance-contract {
        padding: 2rem 0.8rem;

    }

    #accordion-maintenance-contract h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .pcontract {
        font-size: 1.50rem;
        width: 100%;
        text-align: center;
    }

    .accordion-container {
        margin-bottom: -10rem;

    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION HYGIENE*/
    #hygiene {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 10rem;
    }

    .section-hygiene {
        width: 100%;
        margin-right: 0;
    }


    .section-hygiene h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-hygiene h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: center;
        font-size: 1.50rem;
    }



    /*SECTION ACCORDION HYGIENE*/
    #accordion-hygiene {
        padding: 2rem 0.8rem;
        margin: 7rem 0 20rem 0;

    }

    #accordion-hygiene h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .pcontract {
        font-size: 1.50rem;
        width: 100%;
        text-align: center;
    }



    /*SECTION INFRASTRUCTURE*/
    #infrastructure {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 0.1rem;
    }

    .section-infrastructure {
        width: 100%;
        margin-right: 0;
    }


    .section-infrastructure h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-infrastructure h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: center;
        font-size: 1.50rem;
    }


    /* SEÇÃO WHATSAPP */
    .message-box {
        margin: 0 0.8rem;

    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }

    .footer-section img {
        width: 30%;
        margin: 1rem 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .footer-section {
        width: 100%;
        padding: 1rem 0.8rem;
    }

    .copyright {
        width: 100%;
        padding: 1rem 0.8rem;
        font-size: 0.8rem;
        text-align: center;
    }
}


/*NOTEBOOKS */
@media (min-width: 885px) and (max-width: 1230px) {

    /*TOPO DO SITE*/
    .topo {
        justify-content: space-between;
        padding: 0 1rem 0 0rem;
        height: 2.5rem;
        z-index: 2;
    }

    /* HEADER */
    #header-menu {
        top: 2.4rem;
        padding: 0 1rem;
        height: 4rem;
    }

    /*LOGO*/
    .logo img {
        width: 7rem;
        height: auto;
    }



    /*BOTÃO MENU MOBILE*/
    .mobile-menu-button {
        display: none;
    }

    /*MENU MOBILE*/
    .menu-mobile {
        display: none;
    }


    /*BANNERS*/
    #banner-animation img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #banner-animation h2 {
        top: 40%;
        font-size: 2.5rem;
        padding: 0 1.8rem;
        text-align: center;
    }

    #banner-animation .subtitle {
        font-size: 1.5rem;
        top: 75%;
        width: 100%;
        padding: 0 0.8rem;
    }

    /* BOTOES DE NAVEGAÇÃO */
    #prev,
    #next {
        display: none;
    }


    /* CONTAINER */
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*SECTION INSTALLATION*/
    #installation {
        flex-direction: column-reverse;
        padding: 0 0.3rem;
    }

    .section-installation {
        width: 100%;
        margin-right: 0;
    }

    .banner-installation img {
        width: 60%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-installation h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-installation h2 {
        width: 100%;
        text-align: center;
        font-size: 1.50rem;
        margin-bottom: -10rem;
    }

    /*SECTION ACCORDION INSTALLATION*/
    #accordion-installation {
        padding: 2rem 0.8rem;
    }

    #accordion-installation h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }


    /*SECTION MAINTENANCE*/
    #maintenance {
        flex-direction: column;
        padding: 2rem 0.8rem;
    }

    .section-maintenance {
        width: 100%;
        margin-right: 0;
    }

    .banner-maintenance img {
        width: 60%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section-maintenance h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-maintenance h2 {
        width: 100%;
        text-align: center;
        font-size: 1.50rem;
    }

    /*SECTION ACCORDION MAINTENANCE*/
    #accordion-maintenance {
        padding: 2rem 0.8rem;
    }

    #accordion-maintenance h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .accordion-container {
        margin-bottom: -10rem;
    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION MAINTENANCE CONTRACT*/
    #maintenance-contract {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 10rem;
    }

    .section-maintenance-contract {
        width: 100%;
        margin-right: 0;
    }

    .section-maintenance-contract h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .pcontract {
        font-size: 1.50rem;
        width: 100%;

    }

    .section-maintenance-contract h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: center;
        font-size: 1.50rem;

    }

    /*SECTION ACCORDION MAINTENANCE CONTRACT*/
    #accordion-maintenance-contract {
        padding: 2rem 0.8rem;

    }

    #accordion-maintenance-contract h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .pcontract {
        font-size: 1.50rem;
        width: 100%;
        text-align: center;
    }

    .accordion-container {
        margin-bottom: -10rem;

    }

    #accordion-installation {
        padding: 2rem 0.8rem;
    }


    /*SECTION HYGIENE*/
    #hygiene {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 10rem;
    }

    .section-hygiene {
        width: 100%;
        margin-right: 0;
    }


    .section-hygiene h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-hygiene h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: center;
        font-size: 1.50rem;
    }



    /*SECTION ACCORDION HYGIENE*/
    #accordion-hygiene {
        padding: 2rem 0.8rem;
        margin: 7rem 0 20rem 0;

    }

    #accordion-hygiene h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: -10rem;
    }

    .pcontract {
        font-size: 1.50rem;
        width: 100%;
        text-align: center;
    }



    /*SECTION INFRASTRUCTURE*/
    #infrastructure {
        flex-direction: column;
        padding: 2rem 0.8rem;
        height: auto;
        margin-top: 0.1rem;
    }

    .section-infrastructure {
        width: 100%;
        margin-right: 0;
    }


    .section-infrastructure h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .section-infrastructure h2 {
        flex-direction: column;
        padding: 0 0.8rem;
        text-align: center;
        font-size: 1.50rem;
    }


    /* SEÇÃO WHATSAPP */
    .message-box {
        margin: 0 0.8rem;

    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }

    .footer-section img {
        width: 30%;
        margin: 1rem 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .footer-section {
        width: 100%;
        padding: 1rem 0.8rem;
    }

    .copyright {
        width: 100%;
        padding: 1rem 0.8rem;
        font-size: 0.8rem;
        text-align: center;
    }
}