/*CONTAINER*/
.container {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 1;
}


/*ESTILIZAÇÃO DO BAKGROUND E SCROLL SUVAE DOS LINKS*/
html {
    scroll-behavior: smooth;
}

html {
    background: url(../img/Banners/Background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: -1;
}



/*TOPO DO SITE*/
.topo {
    background-color: var(--color6-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 10rem;
    height: 2.6rem;
    z-index: 2;
}

.frase1,
.frase2 {
    font-size: 0.9rem;
}

.frase1 strong {
    color: var(--color2-orange);
}

.frase2 a {
    color: var(--color3-white);
    background-color: var(--color1-blue);
    padding: 0.8rem;

}

.frase2 i {
    margin-right: 0.2rem;
}


/* HEADER */
#header-menu {
    background-color: var(--color3-white);
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

/* ALINHAMENTO GERAL DAS SEÇÕES */
section {
    width: 100%;
    padding: 2rem 0;
}

.logo img {
    width: 6.5rem;
    height: auto;
    display: block;
}

/* MENU DE TELA DE DESKTOP */
.menu-desktop {
    display: flex;
    align-items: center;
}

.menu-desktop ul {
    display: flex;
    list-style: none;
}

.menu-desktop ul li {
    margin-left: 1.25rem;
}

.menu-desktop ul li a {
    color: var(--color5-light-black);
    font-size: 1.1rem;
    font-weight: 400;
    position: relative;
}

.menu-desktop ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.1875rem;
    background-color: var(--color2-orange);
    left: 0;
    bottom: -0.3125rem;
    transition: width 0.3s ease;
}

.menu-desktop ul li a:hover::after {
    width: 90%;
}

.menu-desktop ul li a:hover {
    color: var(--color1-blue);
    transition: color 0.3s ease;
}



/* MENU MOBILE */
.mobile-menu-button {
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0.5rem;
    color: var(--color2-orange);
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    border: none;
    z-index: 111111;
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 11111;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menu-mobile {
    background-color: var(--color3-white);
    width: 80%;
    max-width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111111;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.menu-mobile ul {
    margin: 6rem 0;
    padding: 0;
    list-style-type: none;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-mobile li {
    text-align: left;
    padding: 1.2rem 2rem;
}

.menu-mobile ul li a {
    font-size: 1.2rem;
    color: var(--color2-orange);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
    display: block;
}

.menu-mobile ul li a:hover {
    color: var(--color1-blue);
}

/*BOTAO DE CHAMAR*/

.call {
    display: flex;
    align-items: center;
    color: var(--color3-white);
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--color1-blue);
    opacity: 0.8;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.call:hover {
    opacity: 1;

}

.call i {
    margin-right: 8px;
    font-size: 20px;
}

.call span {
    font-weight: bold;
}


.close-menu {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--color2-orange);
    background-color: transparent;
    border: none;
}

.menu-mobile.open {
    transform: translateX(0%);
}

.menu-mobile.open ul {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}

.menu-overlay.active {
    display: block;
    opacity: 1;
}


/* POSICIONA A IMAGEM NO CENTRO DO BANNER */
#banner-animation img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

/* POSICIONA O BANNER NO CENTRO DA TELA */
#banner-animation .banners {
    display: none;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

/* MOSTRA SOMENTE O BANNER ATIVO */
#banner-animation .banners.active {
    display: block;
}

/* ESTILIZA O TEXTO DO BANNER */
#banner-animation h2,
#banner-animation .subtitle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--color3-white);
}

#banner-animation h2 {
    top: 50%;
    font-size: 3.2rem;
}

#banner-animation .subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    top: 70%;
}

.banners.active h2 {
    opacity: 0.9;
    transform: translateY(20px);
    animation: Ativado 1s ease-out;
}

.banners.active .subtitle {
    opacity: 0.9;
    transform: translate(0, 20px);
    animation: alternate-reverse Ativado 0.9s ease-in-out;
}



/* BOTOES DE NAVEGAÇÃO */
#prev,
#next {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: var(--color2-orange);
    opacity: 0.8;
    cursor: pointer;
    z-index: 1;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 5rem;
    outline: none;
}

#prev {
    left: 40px;
}

#next {
    right: 40px;
}

#prev:hover,
#next:hover {
    opacity: 1;
    transition: 0.5s;
    background-color: var(--color3-white);
    color: var(--color1-blue);

}


/*SECTIONS*/
#installation,
#maintenance,
#maintenance-contract,
#hygiene,
#infrastructure {
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;
    margin: 7rem 0 7rem 0;

}

.section-installation,
.section-maintenance,
.section-infrastructure {
    flex: 1;
    margin-right: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.section-installation.visible {
    opacity: 1;
}

.section-installation h1 {
    font-size: 3.5rem;
    color: var(--color1-blue);
    margin-bottom: 1rem;
}

.section-installation h2 {
    font-size: 1.25rem;
    color: var(--color4-black);
    font-weight: 300;
    line-height: 1.6;
}

.section-installation h1,
.section-installation h2 {
    opacity: 0;
    transform: translateY(20px);
}

.section-installation.visible h1 {
    animation: fadeInUp 1.5s ease-out forwards;
}

.section-installation.visible h2 {
    animation: fadeInUp 1s ease-out 0.2s forwards;
}

.banner-installation {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.banner-installation.visible {
    opacity: 1;
    animation: pulse 2s ease-in-out 5;
}

.banner-installation img {
    width: 80%;
    height: auto;
}



/*SECTION ACCORDION INSTALLATION*/
#accordion-installation {
    padding: 2rem 10rem;
    margin: 7rem 0 7rem 0;

}

#accordion-installation h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color1-blue);
}

.accordion-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 1rem;
    border: 1px solid var(--color1-blue);
    border-radius: 5px;
    overflow: hidden;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color6-gray);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-title:hover {
    background-color: var(--color2-orange);
    color: var(--color3-white);
}

.accordion-title .d-flex {
    display: flex;
    align-items: center;
}

.accordion-icon-left {
    margin-right: 1rem;
    font-size: 1.2em;
}

.accordion-icon-right {
    transition: transform 0.3s ease;
}

.accordion-title.active .accordion-icon-right {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content p {
    padding: 1rem;
    margin: 0;
}


/*SECTION MAINTENANCE*/
#maintenance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    margin: 7rem 0 7rem 0;
    background-color: var(--color3-white);
    border-radius: 5px;
}


.section-maintenance {
    flex: 1;
    margin-right: 2rem;
}

.section-maintenance h1 {
    font-size: 3.5rem;
    color: var(--color2-orange);
    margin-bottom: 1rem;
}

.section-maintenance h2 {
    font-size: 1.25rem;
    color: var(--color4-black);
    font-weight: 300;
    line-height: 1.6;
}

.banner-maintenance {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-maintenance img {
    width: 60%;
    height: auto;
}


/*SECTION ACCORDION MAINTENANCE*/
#accordion-maintenance {
    padding: 2rem 10rem;
    margin: 7rem 0 7rem 0;

}

#accordion-maintenance h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color2-orange);
}

.accordion-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 1rem;
    border: 1px solid var(--color1-blue);
    border-radius: 5px;
    overflow: hidden;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color6-gray);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-title:hover {
    background-color: var(--color2-orange);
    color: var(--color3-white);
}

.accordion-title .d-flex {
    display: flex;
    align-items: center;
}

.accordion-icon-left {
    margin-right: 1rem;
    font-size: 1.2em;
}

.accordion-icon-right {
    transition: transform 0.3s ease;
}

.accordion-title.active .accordion-icon-right {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content p {
    padding: 1rem;
    margin: 0;
}


/*SECTION MAINTENANCE CONTRACT*/
#maintenance-contract {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    margin: 7rem 0 7rem 0;
    height: 70vh;
    background-color: var(--color3-white);
    border-radius: 5px;

}


.section-maintenance-contract {
    flex: 1;
    margin-right: 2rem;
}

.section-maintenance-contract h1 {
    font-size: 3.5rem;
    color: var(--color2-orange);
    text-align: center;
    margin-bottom: 0.5rem;
}

.pcontract {
    font-size: 1.50rem;
    color: var(--color4-black);
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.section-maintenance-contract h2 {
    font-size: 1.25rem;
    color: var(--color4-black);
    font-weight: 300;
    line-height: 1.6;
    padding: 0 5rem;
    text-align: center;
}


/*SECTION ACCORDION MAINTENANCE CONTRACT*/
#accordion-maintenance-contract {
    padding: 2rem 10rem;
    margin: 7rem 0 7rem 0;
}

#accordion-maintenance-contract h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color1-blue);
}

.pcontract {
    font-size: 1.50rem;
    color: var(--color4-black);
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.accordion-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 1rem;
    border: 1px solid var(--color1-blue);
    border-radius: 5px;
    overflow: hidden;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color6-gray);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-title:hover {
    background-color: var(--color2-orange);
    color: var(--color3-white);
}

.accordion-title .d-flex {
    display: flex;
    align-items: center;
}

.accordion-icon-left {
    margin-right: 1rem;
    font-size: 1.2em;
}

.accordion-icon-right {
    transition: transform 0.3s ease;
}

.accordion-title.active .accordion-icon-right {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 0;
}

.accordion-content p {
    padding: 1rem;
    margin: 0;
}


/*SECTION HYGIENE*/
#hygiene {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    margin: 7rem 0 7rem 0;
    height: 70vh;
    background-color: var(--color3-white);
    border-radius: 5px;
    z-index: -1;
}

.section-hygiene {
    flex: 1;
    margin-right: 2rem;
}

.section-hygiene h1 {
    font-size: 3.5rem;
    color: var(--color2-orange);
    text-align: center;
    margin-bottom: 0.5rem;
}

.pcontract {
    font-size: 1.50rem;
    color: var(--color4-black);
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.section-hygiene h2 {
    font-size: 1.25rem;
    color: var(--color4-black);
    font-weight: 300;
    line-height: 1.6;
    padding: 0 5rem;
    text-align: center;
}

/*SECTION ACCORDION HYGIENE*/
#accordion-hygiene {
    padding: 2rem 10rem;
    margin: 7rem 0 7rem 0;
}

#accordion-hygiene h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color2-orange);
}

.pcontract {
    font-size: 1.50rem;
    color: var(--color4-black);
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.accordion-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 1rem;
    border: 1px solid var(--color1-blue);
    border-radius: 5px;
    overflow: hidden;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color6-gray);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-content {
    background-color: var(--color3-white);
}

.accordion-title:hover {
    background-color: var(--color2-orange);
    color: var(--color3-white);
}

.accordion-title .d-flex {
    display: flex;
    align-items: center;
}

.accordion-icon-left {
    margin-right: 1rem;
    font-size: 1.2em;
}

.accordion-icon-right {
    transition: transform 0.3s ease;
}

.accordion-title.active .accordion-icon-right {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content p {
    padding: 1rem;
    margin: 0;
}


/*SECTION INFRASTRUCTURE*/
#infrastructure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 10rem;
    background-color: var(--color3-white);
    border-radius: 5px;
    margin: 12rem 0 0rem 0;
    z-index: -1;
}

.section-infrastructure {
    flex: 1;
    margin-right: 2rem;
}

.section-infrastructure h1 {
    font-size: 3rem;
    color: var(--color1-blue);
    margin-bottom: 1rem;
}

.section-infrastructure h2 {
    font-size: 1.25rem;
    color: var(--color4-black);
    font-weight: 300;
    line-height: 1.6;
}

.banner-infrastructure {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-infrastructure img {
    width: 100%;
    height: auto;
}

/** CAROUSEL  MARCAS**/
.carousel-container {
    width: 100%;
    overflow: hidden;
    background-color: var(--color6-gray);
    padding: 20px 0;
}

.carousel-track {
    display: flex;
    animation: scroll 30s linear infinite;
}

.carousel-item {
    flex: 0 0 auto;
    width: 200px;
    height: 100px;
    margin: 0 20px;
    background-color: var(--color3-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--color5-light-black);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .carousel-item {
        width: 150px;
        height: 75px;
        font-size: 18px;
    }
}


/*FOOTER*/
footer {
    background-color: var(--color3-white);
    color: var(--color1-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section img {
    width: 12.5rem;
    height: auto;
}

.footer-section h3 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color2-orange);
    margin-bottom: 0.5rem;
}

.footer-section p {
    font-size: 1rem;
    text-align: center;
    color: var(--color5-light-black);
    font-weight: 300;
}


.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.8;
    text-align: center;
}

.footer-section li a {
    color: var(--color5-light-black);
    font-weight: 300;
}

.footer-section {
    flex: 1 1 1 300px;
    padding: 2rem 1rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 10rem;
    background-color: var(--color1-blue);
    color: var(--color3-white);
    font-size: 1rem;
}


/* SEÇÃO WHATSAPP */
.message-box {
    position: fixed;
    bottom: 20px;
    right: 80px;
    background-color: var(--color7-green);
    color: var(--color3-white);
    padding: 8px 15px;
    border-radius: 20px 0px 20px 0px;
    font-size: 14px;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.message-box.show {
    opacity: 1;
    transform: translateX(0);
}

/* Botão do WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 20px;
    background-color: var(--color7-green);
    color: var(--color3-white);
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    z-index: 1000;
    transition: transform 0.3s;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}